body,
.top,
.second,
.third,
.image-subtext,
.fourth-text{
    display : flex;
    flex-direction: column;

}

.header,
.first,
.images-second,
.fourth,
.links{
    display: flex;
}

.second-header{
    text-align: center;
}
.image-subtext p{
    width:180px;
    text-align: center;   
}

.images-second
{
    margin-left: auto;
    margin-right: auto;
    gap:20px;
}
.image-subtext img{
    height:200px;
    border-radius: 10px;
    border:solid blue 2px;
    width:200px;
}


.links{
    gap:15px;
    margin-top:20px;
}
body{
    margin:0px;
}
.top,
.footer{
background-color: #1F2937;
}


.placeholder{
    text-align: center;
    color:#F9FAF8;
    width:500px;
    height:200px;
    background-color: gray;
}

.placeholder p{
    margin:90px 0 0 0;
}
.links a{
text-decoration: none;
font-size: 18px;
color:#E5E7EB;
}

.first-container{
    padding-bottom: 100px;
    width:470px;
}
.header{
    gap:450px;
}
.first{
    gap:100px;
    align-items: center;
}

.top{
    align-items: center;
}

.first-header
{
    font-size:48px;
    font-weight: 900;
    color: #F9FAF8;
}

.first-header-subtext{
    font-size: 18px;
    color: #E5E7EB;
}

.logo{
    font-size: 24px;
    
    color:#F9FAF8;
}

.first-button{
    background-color:#3882F6;
    border-color:#3882F6;
    border-radius: 10px;
    color:#F9FAF8;
    padding:0;
    width:100px;
    height:30px;
}

.second-header{
    font-size:36px;
    font-weight: 900;
    color:#1F2937
}

.third{
    background-color: #E5E7EB;
    justify-content: center;
}
.quote{
    margin-top:200px;
    margin-bottom:auto;
    font-size: 36px;
    font-style:italic;
    font-weight:400;
    color:#1F2937
}

.quoter{
    flex-basis: 200px;

}
.fourth{
   
    background-color: #3882F6;
    color:#F9FAF8;
    border-radius:5px;
    
}

.third{
    text-align: center;
}

.quoter{
    padding-left:150px;
}
.fourth-header{
    font-weight: 900;
    font-size: 18px;
    margin:40px 0 0 0;
}

.fourth-subtext{
    margin:0 0 40px 0;
}

.fourth{
    margin:80px 150px 80px 150px;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    height:140px;
    width:1000px;
}

.fourth-button{
    align-self: center;
    padding:5px 25px 5px 25px;
    color:#F9FAF8;
    background-color: #3882F6;
    border-radius: 10px;
    border-color: #F9FAF8;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;

}
.footer p{

    color: #F9FAF8;
    font-size:10px;
}


